{% extends "shared/base.html" %}

{% block title %}
  <title>Forecast Vedro</title>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row ">
    <div class="col">

      <h2 class ="h2 text-center mt-4 fw-bold " >
      Forecast for Czech Republic
      </h2>
      <div class="row mt-4">

          {% for x in mylist1 %}

          <h5 class="fw-bold text-center"> {{ x[0] }} </h5>
          <p class="text-center"> {{ x[1] }} </p>
          <p class="text-center"> {{ x[2] }} </p>



          {% endfor %}

        </div>
      </div>
  </div>
</div>


{% endblock %}
