{% extends "shared/base.html" %}

{% block title %}
  <title>Vedro Home</title>
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row ">
    <h2 class ="h2 text-center mt-4 mb-4 fw-bold " >
      Current weather in Czech Republic
    </h2>
  </div>



  <div class="row mt-4 ml-2">

    <div class="col">
      <div class="card text-center border-0"style="width: 13rem;">
        <img src="static/images/cloud_day_lightbolt_rain_sun.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mon</h5>
          <h4 class="card-text fw-bold">28 C</h4>
        </div>

          <p class="card-text">Vítr: JZ 12 km/h</p>
          <p class="card-text">Vlhkost: 91%</p>

        <div class="card-body">
          <div class="d-grid col-10 mx-auto">
            <a href="#" class="button-link btn btn-light">Detail</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center border-0"style="width: 13rem;">
        <img src="static/images/cloud_day_lightbolt_rain_sun.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tue</h5>
          <h4 class="card-text fw-bold">19 C</h4>
        </div>

          <p class="card-text">Vítr: JZ 12 km/h</p>
          <p class="card-text">Vlhkost: 56%</p>

        <div class="card-body">
          <div class="d-grid col-10 mx-auto">
            <a href="#" class="button-link btn btn-light">Detail</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center border-0"style="width: 13rem;">
        <img src="static/images/cloud_day_lightbolt_rain_sun.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Wed</h5>
          <h4 class="card-text fw-bold">17 C</h4>
        </div>

          <p class="card-text">Vítr: JZ 12 km/h</p>
          <p class="card-text">Vlhkost: 56%</p>

        <div class="card-body">
          <div class="d-grid col-10 mx-auto">
            <a href="#" class="button-link btn btn-light">Detail</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center border-0"style="width: 13rem;">
        <img src="static/images/cloud_day_lightbolt_rain_sun.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Thu</h5>
          <h4 class="card-text fw-bold">15 C</h4>
        </div>

          <p class="card-text">Vítr: JZ 12 km/h</p>
          <p class="card-text">Vlhkost: 56%</p>

        <div class="card-body">
          <div class="d-grid col-10 mx-auto">
            <a href="#" class="button-link btn btn-light">Detail</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center border-0"style="width: 13rem;">
        <img src="static/images/cloud_day_lightbolt_rain_sun.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fri</h5>
          <h4 class="card-text fw-bold">19 C</h4>
        </div>

          <p class="card-text">Vítr: JZ 12 km/h</p>
          <p class="card-text">Vlhkost: 56%</p>

        <div class="card-body">
          <div class="d-grid col-10 mx-auto">
            <a href="#" class="button-link btn btn-light">Detail</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center border-0"style="width: 13rem;">
        <img src="static/images/cloud_day_lightbolt_rain_sun.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sat</h5>
          <h4 class="card-text fw-bold">22 C</h4>
        </div>

          <p class="card-text">Vítr: JZ 12 km/h</p>
          <p class="card-text">Vlhkost: 56%</p>

        <div class="card-body">
          <div class="d-grid col-10 mx-auto">
            <a href="#" class="button-link btn btn-light">Detail</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center border-0"style="width: 13rem;">
        <img src="static/images/cloud_day_lightbolt_rain_sun.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sun</h5>
          <h4 class="card-text fw-bold">19 C</h4>
        </div>

          <p class="card-text">Vítr: JZ 12 km/h</p>
          <p class="card-text">Vlhkost: 56%</p>

        <div class="card-body">
          <div class="d-grid col-10 mx-auto">
            <a href="#" class="button-link btn btn-light">Detail</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
