<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active mx-1" aria-current="page" href="/">CR</a>
        <a class="nav-link active mx-1" href="/">Praha</a>
        <a class="nav-link active mx-1" href="/">Středočeský</a>
        <a class="nav-link active mx-1" href="/">Jihočeský</a>
        <a class="nav-link active mx-1" href="/">Plzeňský</a>
        <a class="nav-link active mx-1" href="/">Karlovarský</a>
        <a class="nav-link active mx-1" href="/">Ústecký</a>
        <a class="nav-link active mx-1" href="/">Liberecký</a>
        <a class="nav-link active mx-1" href="/">Královéhradecký</a>
        <a class="nav-link active mx-1" href="/">Pardubický</a>
        <a class="nav-link active mx-1" href="/">Vysočina</a>
        <a class="nav-link active mx-1" href="/">Jihomoravský</a>
        <a class="nav-link active mx-1" href="/">Olomoucký</a>
        <a class="nav-link active mx-1" href="/">Moravskoslezský</a>
        <a class="nav-link active mx-1" href="/">Zlínský</a>


        <a class="nav-link active mx-5" href="/">Dark</a>


      </div>
    </div>
  </div>
</nav>
