<nav class="navbar  sticky-top navbar-expand-md navbar-dark bg-dark" >
  <div class="container-fluid ">
    <a class="navbar-brand"  href="/dark">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active " aria-current="page" href="/fcastdark">CR</a>
        <a class="nav-link active " href="/dark">Praha</a>
        <a class="nav-link active " href="/dark">Středočeský</a>
        <a class="nav-link active " href="/dark">Jihočeský</a>
        <a class="nav-link active " href="/dark">Plzeňský</a>
        <a class="nav-link active " href="/dark">Karlovarský</a>
        <a class="nav-link active " href="/dark">Ústecký</a>
        <a class="nav-link active " href="/dark">Liberecký</a>
        <a class="nav-link active " href="/dark">Královéhradecký</a>
        <a class="nav-link active " href="/dark">Pardubický</a>
        <a class="nav-link active " href="/dark">Vysočina</a>
        <a class="nav-link active " href="/dark">Jihomoravský</a>
        <a class="nav-link active " href="/dark">Olomoucký</a>
        <a class="nav-link active " href="/dark">Moravskoslezský</a>
        <a class="nav-link active " href="/dark">Zlínský</a>


        <a class="nav-link active mx-5" href="/">Den</a>


      </div>
    </div>
  </div>
</nav>
